.sec2{
 	display:flex;
	flex-direction:column;
	align-items:center;
	}
.sec-2-1{
	display:flex;
	flex-direction:column;
	align-items:center;
	}
.sec-2-1 >:nth-child(1){
	font-weight:600;
	}
.sec-2-2{
	display:flex;
	}
.sec-2-2-1 img{
	width:300px;
	border-radius:50%;
	}
.box{
	display:flex;
	flex-direction:column;
	}
.box img{
	width:35px;
	}
.box >:nth-child(2){
	font-size: 20px;
	font-weight: 600;
	}
.box >:nth-child(3),
.box >:nth-child(4){
	font-size: 17px;
	}
.sec-2-2-2-1{
	display: flex;
	gap: 50px;
	}
.p1{
	width:80%;
	margin: 0px;
	}

